<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="cn" connectionString="Data Source=sharedmssql5.znetindia.net,1234;User ID=gaurav;password=cplc@123" providerName="System.Data.SqlClient"/>
    <!--<add name="cn" connectionString="server=kartik\sqlexpress;database=cplcnew;integrated security=true;"/>-->
  </connectionStrings>
  <system.web>

<customErrors mode="Off"/>
    <!--<authentication mode="Forms">
      <forms name="abc" loginUrl="login.aspx"/>
        
      
    </authentication>-->
    
    
    
    

    <!--<authentication mode="Forms">
      <forms loginUrl="login.aspx" defaultUrl="welcome.aspx">
        <credentials passwordFormat="Clear">
          <user name="shalu" password="123"/>
          <user name="root" password="cplc@123"/>
        </credentials>       
      </forms>
    </authentication>-->
    
    
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime executionTimeout="9999" maxRequestLength="2097151" targetFramework="4.5"/>
    <httpHandlers>
      <add verb="*POST" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit"/>
    </httpHandlers>

    
  </system.web>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    
  </startup>
  
  <system.webServer>
    
    <handlers>
      <add name="AjaxFileUploadHandler" verb="POST" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>