
.topnav {
     background-color: #00b8e6;
     display: block;
     padding: 20px;
     position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    }
hr { width: 35em;}
h1 {
    font-size: 3em;
    color: #00b8e6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    color: #808080;
}
.heads { line-height: 10%; text-align: center; }
p {
    padding-left:42%;
    color: #808080;
    font-size: 1.5em;
}
* {box-sizing: border-box;}
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.icon {
  padding: 10px;
  color: gray;
  min-width: 50px;
  margin-left: 35%;
  text-align: center;
}
.input-field {
  width: 23%;
  padding: 10px;
  outline: none;
  margin-left: 0%;
}
.btn {
  background-color: #00b8e6;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 15%;
  opacity: 0.9;
  margin-left: 42.5%;
}
.btn:hover {
  opacity: 1;
}
.forgot {
    color: #00b8e6;
    margin-left: 46%;
}
.container{ width:100%; }
.align-left{ 
    float: left;
    width:50%;
    color: grey;
    padding-left: 31%;
    font-size: 13px;
    }
.align-right{ 
    float: right;
    width: 50%;
    padding-left: 12%;
    font-size: 14px;
}
a:link {
    text-decoration: none;
    color: #00b8e6;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #00b8e6;
}
footer {
    background-color: #00b8e6;
    font-size: 11px;
    color: white;
    display: block;
    padding: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
   }

